.header {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    height: 30%;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    align-items: center;
    color: lawngreen;
}

.logo {
    font-size: 20px;
}

.nav {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.nav li a {
    text-decoration: none;
    margin-left: 40px;
    color: aliceblue;
    text-transform: capitalize;

}

.nav li a:hover {
    color: lawngreen;
    transition: all 0.5s ease;
}

.nav li a:not(:hover) {
    color: aliceblue;
    transition: all 0.5s ease;
}

.badge {
    color: black;
    margin-left: 10px;
    align-content: center;
    background-color: rgba(124, 252, 0, 0.8);
    padding: 3px 8px;
    border-radius: 10px;
}